GatePass/Service References/EmailServiceReference/EmailNotificationService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ampiweb01:8201/EmailNotificationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmailNotificationService.Classes" />
  <xs:element name="SendEmailNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EmailNotificationService.Classes" minOccurs="0" name="emailObject" nillable="true" type="q1:EmailObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EmailNotificationService.Classes" minOccurs="0" name="SendEmailNotificationResult" nillable="true" type="q2:Output" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailNotificationToIT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EmailNotificationService.Classes" minOccurs="0" name="emailObject" nillable="true" type="q3:EmailObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailNotificationToITResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EmailNotificationService.Classes" minOccurs="0" name="SendEmailNotificationToITResult" nillable="true" type="q4:Output" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>