GatePass/Service References/EmailServiceReference/EmailNotificationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmailNotificationService.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmailNotificationService.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ampiweb01:8201/EmailNotificationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="EmailObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BlindCarbonCopy" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BodyTemplate" nillable="true" type="tns:EmailBodyTemplateObject" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CarbonCopy" nillable="true" type="q2:ArrayOfstring" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Recipient" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isHtml" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailObject" nillable="true" type="tns:EmailObject" />
  <xs:complexType name="EmailBodyTemplateObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemplateType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailBodyTemplateObject" nillable="true" type="tns:EmailBodyTemplateObject" />
  <xs:complexType name="Output">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Output" nillable="true" type="tns:Output" />
</xs:schema>